body {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
}

.outter {
    width: 100%;
    height: 100%;
    position: absolute;
}

.test {
    width: 10%;
    height: 16%;
    float: left;
}

.inner {
    width: 75%;
    height: 75%;
    color: #ffffff;
    /*
    opacity: 0.8;
    */
    font-size: 100px;
    text-align: center;
    cursor: default;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
}